.container {
  position: relative;
  display: block;
  height: 320px; /* TODO: remove */
  overflow: hidden;
  color: var(--text-1);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}

.container:hover {
  box-shadow: var(--shadow-3);
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--size-4);
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 45%),
    rgb(0 0 0 / 40%) 20%,
    rgb(0 0 0 / 25%) 40%,
    rgb(0 0 0 / 0%)
  );
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay:hover {
  opacity: 1;
}

.name {
  font-weight: var(--font-weight-6);
  color: var(--gray-0);
}

.artist {
  color: var(--gray-4);
}
