.link {
  border-radius: var(--radius-2);
}

.link:hover {
  /* --shadow-3 without the hard outline */
  box-shadow:
    0 2px 3px -2px var(--gray-a3),
    0 3px 12px -4px var(--black-a2),
    0 4px 16px -8px var(--black-a2);
}

.image {
  width: 100%;
  vertical-align: middle;
}

.overlay {
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 45%),
    rgb(0 0 0 / 40%) 20%,
    rgb(0 0 0 / 25%) 40%,
    rgb(0 0 0 / 0%)
  );
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay:hover {
  opacity: 1;
}

.name {
  color: var(--gray-1);
}

.artist {
  color: var(--gray-4);
}
