.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: var(--size-xl);
  padding: var(--size-2) var(--padding-x);
  margin: 0 auto;
}

.brand {
  color: var(--text-1);
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
