.header {
  height: var(--header-height);
}

.brand {
  --size: var(--space-8);

  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
}

@media (width >= 1024px) {
  .brand {
    --size: var(--space-9);
  }
}
