.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--size-xl);
  padding: var(--size-2) var(--padding-x);
  margin: 0 auto;
}

.brand {
  color: var(--text-1);
  text-decoration: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-8);
  height: var(--size-8);
  font-size: var(--font-size-5);
  line-height: 1;
  color: var(--gray-1);
  background: var(--higher);
  border-radius: var(--radius-round);
}

.menu {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  align-items: center;
}

.create {
  padding: var(--size-2) var(--size-4);
  color: var(--text-1);
  text-decoration: none;
  border-radius: var(--radius-2);
}

.create:hover {
  background-color: var(--surface-2);
}

@media (width >= 768px) {
  .heading {
    --size-8-5: 3.5rem;

    width: var(--size-8-5);
    height: var(--size-8-5);
    font-size: var(--font-size-6);
  }

  .menu {
    gap: var(--size-3);
  }
}

@media (width >= 1024px) {
  .heading {
    width: var(--size-9);
    height: var(--size-9);
    font-size: var(--font-size-7);
  }

  .menu {
    gap: var(--size-4);
  }
}
