.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.image {
  flex-shrink: 0;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--size-4);
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-3);
  background: var(--surface-2);
  border-radius: var(--radius-2);
}

.name {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
}

.collection {
  display: flex;
  gap: var(--size-3);
  align-items: center;
}

.ids {
  color: var(--text-2);
}

.thumbnail {
  width: var(--size-8);
  height: var(--size-8);
  overflow: hidden;
  object-fit: cover;
  border-radius: var(--radius-round);
}

.artist {
  font-weight: var(--font-weight-5);
}

@media (width >= 768px) {
  .container {
    flex-direction: row;
  }

  .image {
    width: 60%;
    height: auto;
  }
}
